[submodule "live-build/config/includes.chroot_after_packages/etc/skel/apriltag"]
	path = live-build/config/includes.chroot_after_packages/home/folk/apriltag
	url = https://github.com/FolkComputer/apriltag
