/* @import url('https://folkcomputer.github.io/folk/vendor/fonts/IBM_Plex_Sans/IBMPlexSans-Regular');
@import url('https://folkcomputer.github.io/folk/vendor/fonts/IBM_Plex_Mono/IBMPlexMono-Regular'); */
/* @import url('./vendor/fonts/IBM_Plex_Sans/IBMPlexSans-Regular/IBMPlexSans-Regular.ttf');
@import url('./vendor/fonts/IBM_Plex_Mono/IBMPlexMono-Regular/IBMPlexMono-Regular.ttf'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: fantasy;
    font-family: 'IBM Plex Sans';
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-size: 16pt;
    line-height: 1.5;
    color: #333;
    margin: 0 10%;
}

pre, .code {
    font-family: fantasy;
    font-family: 'IBM Plex Mono';
    /* font-family: 'IBM Plex Mono', monospace; */
    font-size: 14pt;
    line-height: 1.5;
    color: #333;
    border: 1px solid #234;
    padding: 1em;
    border-radius: 6px;
    box-shadow: inset 0 0 10px #000;
    max-width: 60%;
}

.todo {
    font-family: fantasy;
    background-color: black;
    color: white;
}

.todo::before {
    content: '⚠️ TODO: ';
}

/* Docs */
.int::after,
.float::after,
.vec2::after,
.bool::after,
.colorstring::after {
  color: white;
  background-color: #345;
  border: 1px solid black;
  border-radius: 6px;
  margin-left: 0.2em;
}

.int::after { content: '(int)'; }
.float::after { content: '(vec2)'; }
.vec2::after { content: '(vec2)'; }
.bool::after { content: '(bool)'; }
.colorstring::after { content: ' (colorstring)'; }
